.hero {
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 200px;
  height: 200px;
  border: 3px solid white;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
